extends layout

block content
  form(method='POST', action='/cabinet', enctype='multipart/form-data', role='form', name='login-form')
    input(type='file', name='book')
    input(type='submit', name='upload')  