extends layout

block content
  if title == 'ancient_greece_events' || title == 'ancient_greece'
    h4 Древняя Греция / События
    div.artblock
      div.arthead Битва при Марафоне (490 до н.э.) 
      img(src='images/Marafon.jpg' class="artimage")
      div.arttext
        Одно из крупнейших сухопутных сражений греко-персидских войн, состоявшееся неподалёку от греческого города Марафон приблизительно в 42 километрах от Афин. В битве при Марафоне персидская армия потерпела сокрушительное поражение. Под руководством Мильтиада союзным войском афинян и платейцев была уничтожена бо́льшая часть армии противника. Для эллинов сражение стало первой победой над войском империи Ахеменидов.		    
    div.artblock
      div.arthead Правление Перикла (443 - 430 до н.э) 
      img(src='images/Pericles.png' class="artimage")
      div.arttext
        Законодательные меры Перикла (отмена имущественного ценза, замена голосования жеребьевкой при предоставлении должностей, введение оплаты должностным лицам и др.) способствовали расцвету афинской демократии.
  else
  if title == 'ancient_greece_pers'
    h4 Древняя Греция / Личности
    div.artblock
      div.arthead Архимед (287 - 212 до н.э.) 
      img(src='images/Archimedes_animated.gif' class="artimage")
      div.arttext
        Древнегреческий математик, физик и инженер из Сиракуз. Сделал множество открытий в геометрии. Заложил основы механики, гидростатики, автор ряда важных изобретений.
        Архимед родился в Сиракузах, греческой колонии на острове Сицилия. Отцом Архимеда был математик и астроном Фидий. Отец привил сыну с детства любовь к математике, механике и астрономии. Для обучения Архимед отправился в Александрию Египетскую — научный и культурный центр того времени.В Александрии Архимед познакомился и подружился со знаменитыми учёными: астрономом Кононом, разносторонним учёным Эратосфеном, с которыми потом переписывался до конца жизни. В то время Александрия славилась своей библиотекой, в которой было собрано более 700 тыс. рукописей.
        По-видимому, именно здесь Архимед познакомился с трудами Демокрита, Евдокса и других замечательных греческих геометров, о которых он упоминал и в своих сочинениях. По окончании обучения Архимед вернулся на Сицилию. Инженерный гений Архимеда с особой силой проявился во время осады Сиракуз римлянами в 212 году до н. э. в ходе Второй Пунической войны. В этот момент Архимеду было уже 75 лет.
        Построенные Архимедом мощные метательные машины забрасывали римские войска тяжёлыми камнями. Думая, что они будут в безопасности у самых стен города, римляне кинулись туда, но в это время лёгкие метательные машины близкого действия забросали их градом ядер. Мощные краны захватывали железными крюками корабли, приподнимали их кверху, а затем бросали вниз, так что корабли переворачивались и тонули. В последние годы были проведены несколько экспериментов с целью проверить правдивость описания этого «сверхоружия древности». Построенная конструкция показала свою полную работоспособность. Осенью 212 года до н. э. вследствие измены Сиракузы были взяты римлянами. При этом Архимед был убит.
        Лучшим своим достижением он считал определение поверхности и объёма шара — задача, которую до него никто решить не мог. Архимед просил выбить на своей могиле шар, вписанный в цилиндр.<br>
        На картинке - подъём предметов с помощью Архимедова винта.
    div.artblock
      div.arthead Лисандр (452 - 396 до н.э.) 
      img(src='images/Lisander.jpg' class="artimage")
      div.arttext
        Спартанский полководец последнего периода Пелопоннесской войны. Одержал победы над афинянами у мыса Нотий (407 до н.э.) и при Эгоспотамах (405 до н.э.). После осады в 405-404 до н.э. взял Афины, продиктовал им условия мира. Навязал афинянам олигархическое правление.
  else
  if title == 'ancient_rome_events' || title == 'ancient_rome'
    h4 Древний Рим / События
    div.artblock
      div.arthead Восстание Спартака (73 - 71 до н.э.)
      img(src='images/Spartak2.gif' class="artimage")
      div.arttext
        Величайшее в древности восстание рабов. Восстание Спартака было единственным восстанием рабов, представлявшим прямую угрозу центральной Италии.<br>
        Началось с заговора в школе гладиаторов Лентула Батиата в Капуе. Заговорщики (ок. 70 чел.) во главе со Спартаком, галлами Криксом и Эномаем бежали на Везувий и, укрепившись там, стали совершать набеги на имения Кампании. Вскоре отряд бежавших пополнился за счет беглых рабов и свободных арендаторов и насчитывал ок. 10 тыс. чел. Против восставших был послан сначала 3-тыс., а затем 10-тыс. отряд римлян, которые Спартаку вскоре удалось разбить.
        Восстание быстро перекинулось из Кампании в юж. обл. Италии (Апулию, Луканию, Бруттий). Спартак повел свою армию (насчитывавшую к нач. воен. кампании 72 г. до н.э. уже ок. 70 тыс. чел.) в Апулию и Луканию. Оружие захватывалось у римлян, а также было налажено его производство в лагере. Армия была организована Спартаком по римскому образцу. По его требованию добыча делилась поровну, была запрещена торговля золотом и серебром. Спартак не принимал перебежчиков и требовал строгой воинской дисциплины. Армия восставших прошла по побережью Адриатич. м. всю Италию и в провинции Цизальпинская Галлия (совр. Сев. Италия) в битве при Мутине уничтожила войска проконсула Кассия. После победы над Кассием Спартак вместе с армией неожиданно повернул на юг и начал движение вдоль Адриатич. побережья. Для борьбы против восставших были набраны 6 новых рим. легионов, к к-рым были присоединены 2 уцелевших консульских легиона. Во главе этой большой армии (ок. 40 тыс. чел.) был поставлен крупный политич. деятель, один из богатейших рабовладельцев М. Лициний Красс. Суровыми мерами он восстановил воинскую дисциплину, подвергнув децимации (казнь каждого десятого) бежавшие от спартаковцев воинские части. Не вступая в решительное сражение, Красс преследовал Спартака при его движении на Ю. Последний намеревался переправиться в Сицилию и договорился с киликийскими пиратами о поставке кораблей и др. транспортных средств. Армия восставших благополучно дошла до Мессинского пролива, но киликийские пираты обманули Спартака и кораблей не предоставили. Красс же отрезал спартаковскую армию от остальной Италии, прорыв ров от моря и до моря (длиной 55 км, шириной и глубиной 4,5 м), укрепил его стеной. Спартаковцы прорвались через это укрепление, причем при штурме погибло 2/3 армии рабов. Спартаку удалось быстро пополнить армию и довести ее вновь до 70 тыс. чел. Он повел свою армию к Брундизию, видимо, рассчитывая переправиться в Грецию. Стремясь поскорее покончить с восставшими, сенат направил против Спартака исп. армию Гнея Помпея и отряд из Фракии под рук. Марка Лукулла. В это время Крассу удалось разбить отделившийся от Спартака отряд повстанцев (ок. 12 тыс.) под рук. Каста и Ганника. Опасаясь объединения всех рим. армий, Спартак был вынужден дать генеральное сражение армии Красса на границе Апулии и Лукании по пути к Брундизию (весна 71). В этой битве повстанческая армия (ок. 60 тыс.) была разбита.			
  else
  if title == 'ancient_rome_arch'
    h4 Древний Рим / Архитектура
    div.artblock
      div.arthead Колизей (75 - 80 г.)
      img(src='images/timthumb.jpg' class="artimage")
      div.arttext
        Амфитеатр Флавиев в Риме, памятник древнеримской архитектуры. Служил для гладиаторских боев и др. зрелищ, вмещал ок. 50 тыс.зрителей. Сооружен из туфа, конструкции галерей укреплены бетоном и кирпичом.          
    div.artblock
      div.arthead Триумфальная арка Константина (315 г.)
      img(src='images/Constantines_Arch.jpg' class="artimage")
      div.arttext
        Трёхпролётная арка, расположенная в Риме между Колизеем и Палатином на древней улице Триумфаторов. Посвящена победе Константина над Максенцием в битве у Мильвийского моста 28 октября 312 года. Является позднейшей из сохранившихся римских триумфальных арок, использует элементы декора, снятые с более древних монументов (сполии). Кроме того, это единственная в Риме арка, построенная в честь победы не над внешним врагом, а в гражданской войне.
		
block menuleft
  if title == 'ancient_greece' || title == 'ancient_greece_events' || title == 'ancient_greece_pers'
    a(href='ancient_greece_events' class='btn btn-info') События 
    a(href='ancient_greece_pers' class='btn btn-info') Личности 
  else
  if title == 'ancient_rome' || title == 'ancient_rome_events' || title == 'ancient_rome_arch'
    a(href='ancient_rome_events' class='btn btn-info') События 
    a(href='ancient_rome_arch' class='btn btn-info') Архитектура 
  